Makefile
Makefile.in
aclocal.m4
build-stamp
config.guess
config.log
config.status
config.sub
debian/vyatta-cfg-dhcp-server
debian/files
debian/vyatta-cfg-dhcp-server.debhelper.log
debian/vyatta-cfg-dhcp-server.substvars
config
configure
INSTALL
generated-templates

